.notesTitle {
    font-size: 25px;
    text-align: center;
    color: red;
}

.noteStyleRoot {
    list-style: none;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}