<div class="noteStyleRoot">
    <input
        type="text"
        [(ngModel)]="note.title"
        placeholder="Название заметки"
    >
    <textarea
        [(ngModel)]="note.text"
        placeholder="Введите текст заметки"
        style="width: 100%; margin-top: 10px;"
    >
    </textarea>
    <div class="noteBtn">
        <button
            *ngIf="!IsNoteIncludesNotes"
            (click)="saveNote(note)"
        >
            Сохранить заметку
        </button>
        <button
            (click)="sendActionDeleteNote($event)"
        >
            Удалить заметку
        </button>    
    </div>
</div>
